{% block content %}
<h1>Person: {{ person_inst.first_name }} {{ person_inst.last_name }}</h1>
<h2>Email: {{ person_inst.email }}</h2>
<p>Renew information:</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div class="form-actions">
        <button type="submit">Update</button>
        <button type="button" onclick="history.back();">Back</button>
    </div>
</form>
{% endblock %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}